/******************************************
*             en_resources.rc              *
*        George Koskeridis (C)2015         *
 ******************************************/

#pragma code_page(65001) //unicode codepage


#include "../U2MCommon.h"
#include <CommCtrl.h>
#include "resource.h"
#include <richedit.h>

#define PROD_VER_C ver_commas(U2MWin32_MAJOR,U2MWin32_MINOR,U2MWin32_PATCH),0
#define PROD_VER_STR_D str(ver_dots(U2MWin32_MAJOR,U2MWin32_MINOR,U2MWin32_PATCH))


//
// U2MLocale_En.dll versioning
//
1       VERSIONINFO
FILEVERSION     1,0,0,0
PRODUCTVERSION  PROD_VER_C
FILEFLAGSMASK   0X3FL
FILEFLAGS       0L
FILEOS          VOS_NT_WINDOWS32
FILETYPE        VFT_DLL
FILESUBTYPE     0
BEGIN
    BLOCK "StringFileInfo"
    BEGIN
        BLOCK "000004B0"
        BEGIN
            VALUE "FileDescription", "USB2Email English language pack"
            VALUE "FileVersion", "1.0.0.0"
            VALUE "InternalName", "U2MLocale_En.dll"
            VALUE "ProductVersion", PROD_VER_STR_D
            VALUE "OriginalFilename", "U2MLocale_En.dll"
            VALUE "CompanyName", " "
            VALUE "LegalCopyright", "Copyright (c) 2016 George Koskeridis, The MIT License"
            VALUE "ProductName", "U2MLocale_En"
        END
    END
    BLOCK "VarFileInfo"
    BEGIN
        VALUE "Translation", 0x0000, 0x04B0
    END
END

//
// String messages
//
STRINGTABLE
{
    ID_ERR_MSG_0,   "Error!"
    ID_ERR_MSG_1,   "Service is running!"
    ID_ERR_MSG_2,   "Message queue error"
    ID_ERR_MSG_3,   "Window creation failed!"
    ID_ERR_MSG_4,   "Main Window class registration Failed!"
    ID_ERR_MSG_5,   "Exiting USB2Email..."
    ID_ERR_MSG_6,   "Are you sure you want to quit?"
    ID_ERR_MSG_7,   "Can't close the window."
    ID_ERR_MSG_8,   "Can't change e-mail while the service is running."
    ID_ERR_MSG_9,   "Start"
    ID_ERR_MSG_10,  "Stop"
    ID_ERR_MSG_11,  "Can't change USB device while the service is running."
    ID_ERR_MSG_12,  "Can't change password while the service is running."
    ID_ERR_MSG_13,  "Can't change preferences while the service is running."
    ID_ERR_MSG_14,  "Trackbar label failed!"
    ID_ERR_MSG_15,  "USB device scan pausing interval"
    ID_ERR_MSG_16,  "Trackbar failed!"
    ID_ERR_MSG_17,  "Start/Stop button failed!"
    ID_ERR_MSG_18,  "E-mail button failed!"
    ID_ERR_MSG_19,  "Configure E-Mail to send"
    ID_ERR_MSG_20,  "USB list button failed!"
    ID_ERR_MSG_21,  "Choose USB device"
    ID_ERR_MSG_22,  "Body of the e-mail"
    ID_ERR_MSG_23,  "Subject of the e-mail"
    ID_ERR_MSG_24,  "Group of addresses to send to. Multiple e-mails are seperated with ';'"
    ID_ERR_MSG_25,  "E-mail address of recipient"
    ID_ERR_MSG_26,  "E-mail address of sender"
    ID_ERR_MSG_27,  "No USB device selected!"
    ID_ERR_MSG_28,  "Device"
    ID_ERR_MSG_29,  "Vendor"
    ID_ERR_MSG_30,  "USB2Email tray icon failed to appear!"
    ID_ERR_MSG_31,  "Something happened!"
    ID_ERR_MSG_32,  "Unidentified vendor"
    ID_ERR_MSG_33,  "Unidentified device"
    ID_ERR_MSG_34,  "No password entered"
    ID_ERR_MSG_35,  "No e-mail body"
    ID_ERR_MSG_36,  "Are you sure you want to send a blank message?"
    ID_ERR_MSG_37,  "No Subject"
    ID_ERR_MSG_38,  "Are you sure you don't want to have a Subject in your e-mail?"
    ID_ERR_MSG_39,  "Invalid e-mail address on CC field!"
    ID_ERR_MSG_40,  "Invalid e-mail address on TO field!"
    ID_ERR_MSG_41,  "TO field is empty!"
    ID_ERR_MSG_42,  "Invalid e-mail address on FROM field!"
    ID_ERR_MSG_43,  "FROM field is empty!"
    ID_ERR_MSG_44,  "Invalid SMTP network port number!"
    ID_ERR_MSG_45,  "SMTP network port field is empty!"
    ID_ERR_MSG_46,  "SMTP server field is empty!"
    ID_ERR_MSG_47,  "Help dialog failed to open!"
    ID_ERR_MSG_48,  "Email dialog failed to open!"
    ID_ERR_MSG_49,  "About dialog failed to open!"
    ID_ERR_MSG_50,  "USB dialog failed to open!"
    ID_ERR_MSG_51,  "Password dialog failed to open!"
    ID_ERR_MSG_52,  "Preferences dialog failed to open!"
    ID_ERR_MSG_53,  "You have to set an e-mail to send, first."
    ID_ERR_MSG_54,  "Can't start service!"
    ID_ERR_MSG_55,  "SMTP server domain not set."
    ID_ERR_MSG_56,  "No USB device selected."
    ID_ERR_MSG_57,  "No password set."
    ID_ERR_MSG_58,  "USB2Email is stopped"
    ID_ERR_MSG_59,  "USB2Email is running"
    ID_ERR_MSG_60,  "Quit"
    ID_ERR_MSG_61,  "Open USB2Email"
    ID_ERR_MSG_62,  "Restart the application for Autostart to take place."
    ID_ERR_MSG_63,  "Don't forget!"
    ID_ERR_MSG_64,  "U2M_event failed!"
    ID_ERR_MSG_65,  "Failed reading data from the registry! Try restarting the application."
    ID_ERR_MSG_66,  "Failed writing data to the registry! Some of your options might not be saved."
    ID_ERR_MSG_67,  "Buffer overflow detected. Decrease the number of input characters."
    HELP_DLG_CAPTION, "Using USB2Email"
}

STRINGTABLE
{
    ID_HELP_MSG1,  "[Choose USB device]: A list of all USB devices currently attached to your PC. \
Pick the device you want either by double clicking it, or clicking it once and hitting the 'OK' button. \
The 'Refresh' button re-scans the PC's USB ports and shows the new USB devices. \r\n\
Every time you open this window, the USB device you chose is reset. Your USB device's IDs are saved in the \
registry, when USB2Email is closed, so you don't have to choose the same device every time\
 you open the application. \
\r\n----------------------------------------------------------------------------------\r\n\
[Configure E-Mail to send]: The details of the e-mail you want to send.\
\r\n----------------------------------------------------------------------------------\r\n\
[USB device scan pausing interval]: When the service is running, it pauses for some fractions of a second \
before scanning the PC for USB devices each time. This is done for performance purposes. You can set \
the milliseconds of that pause with this trackbar. Values range from 200-2000 milliseconds (0.2-2 seconds).\
\r\n----------------------------------------------------------------------------------\r\n\
[Start/Stop]: Starts/Stops the service. Before the service is initiated, there are checks to see \
if certain info has been given yet, otherwise it fails to start. Necessary fields to fill are \
SMTP server, FROM field, TO field and E-mail password field. The service also fails to start if the user \
hasn't picked a USB device from the list. \r\n While the service is running the button text\
 changes to 'Stop' \
and you can stop the service at any moment except for when the e-mail is being sent. During that\
 time the button \
is disabled.\
\r\n----------------------------------------------------------------------------------\r\n\
[Menu -> E-mail Password]: The password for the e-mail address entered on the 'FROM' field is\
 entered here.\
\r\n----------------------------------------------------------------------------------\r\n\
[Menu -> Autostart]: When enabled, this option, loads the application every time Windows boots and\
 runs the service \
automatically. You need to restart USB2Email when you change this option, to save the info\
 to the registry. \
\r\n----------------------------------------------------------------------------------\r\n\
[Menu -> Preferences] \r\n \r\n\
[Server URL]: The URL address of the server (e.g. smtp-mail.outlook.com, smtp.gmail.com).\
\r\n----------------------------------------------------------------------------------\r\n\
[Port]: The port number (e.g. 465, 587). Not a necessary field.\
\r\n----------------------------------------------------------------------------------\r\n\
[Reload USB devices automatically]: Refreshes the USB devices automatically on the 'Choose\
 USB device' dialog."

    ID_HELP_MSG2,   "\r\n----------------------------------------------------------------------\
------------\r\n\
[Enable checking for valid e-mail addresses]: (ALPHA)Non-RFC compliant. Doesn't work as well.\
\r\n----------------------------------------------------------------------------------\r\n\
[Maximum number of acceptable failed e-mails sent, before stopping the service]: If the service\
 fails to send an e-mail \
once it will stop running. You can set here a number of failed e-mails to be accepted before\
 stopping the service.\
\r\n----------------------------------------------------------------------------------\r\n\
[System tray icon]: Enables a notification area icon allowing USB2Email to be minimized to the tray.\
\r\n----------------------------------------------------------------------------------\r\n\
[Store user input to configuration file]: Stores the current given data from input fields to\
 a backup file. USB2Email reads this file \
every time it's opened. Also the password will be stored on that file; don't \
enter your password before pressing this button if \
you don't want it to be stolen."
}


//
// Menu resources
//
LANGUAGE LANG_NEUTRAL, SUBLANG_NEUTRAL
IDR_MAINMENU MENU
{
    POPUP "Menu"
    {
        MENUITEM "E-mail Passw&ord", IDM_PASSWORD
        MENUITEM "&Preferences", IDM_PREF
        MENUITEM "A&utostart", IDM_AUTOSTART
        POPUP "L&anguages"
        {
            MENUITEM "English", IDM_EN_LANG
            MENUITEM "Ελληνικά", IDM_GR_LANG
        }
        MENUITEM SEPARATOR
        MENUITEM "E&xit", IDM_EXIT
    }
    POPUP "&Help"
    {
        MENUITEM "H&elp", IDM_H_ELP1, HELP
        MENUITEM "&About", IDM_ABOUT
    }
}


//
// Dialog resources
//
LANGUAGE LANG_NEUTRAL, SUBLANG_NEUTRAL
IDD_ABOUTDIALOG DIALOGEX 0, 0, 237, 93
STYLE DS_3DLOOK | DS_CENTER | DS_SETFOREGROUND | DS_SHELLFONT | WS_BORDER | WS_VISIBLE | WS_POPUP | WS_SYSMENU
EXSTYLE WS_EX_WINDOWEDGE
FONT 8, "Ms Shell Dlg", 400, 0, 1
{
    LTEXT           "", IDC_ABOUT_BUILD, 36, 25, 85, 9, SS_LEFT | SS_CENTERIMAGE, WS_EX_LEFT
    LTEXT           "2016 (c) George Koskeridis", IDC_STATIC, 32, 34, 125, 9, SS_LEFT, WS_EX_LEFT
    PUSHBUTTON      "Other credits", IDUSB2MAILLIBS, 44, 46, 60, 20, 0
    LTEXT           "", IDC_ABOUT_COMPILER, 20, 70, 115, 9, SS_LEFT | SS_CENTERIMAGE, WS_EX_LEFT
    GROUPBOX        "About...", IDC_STATIC, 12, 10, 127, 75, 0, WS_EX_LEFT
    DEFPUSHBUTTON   "", IDOK, 149, 6, 80, 81, BS_ICON, WS_EX_LEFT
}

LANGUAGE LANG_NEUTRAL, SUBLANG_NEUTRAL
IDD_HELPDIALOG DIALOGEX 0, 0, 248, 250
STYLE DS_3DLOOK | DS_CENTER | DS_SHELLFONT | WS_CAPTION | WS_VISIBLE | WS_GROUP | WS_POPUP | WS_SYSMENU
EXSTYLE WS_EX_OVERLAPPEDWINDOW | WS_EX_APPWINDOW
CAPTION "Using USB2Email"
FONT 11, "Arial", 500, 0, 1
{
    EDITTEXT        IDC_HELP_TEXT, 14, 10, 221, 175, ES_READONLY | WS_VSCROLL | ES_MULTILINE | ES_AUTOVSCROLL
    PUSHBUTTON      "OK", IDOK, 15, 190, 217, 44, 0, WS_EX_DLGMODALFRAME
}

LANGUAGE LANG_NEUTRAL, SUBLANG_NEUTRAL
IDD_PREFDIALOG DIALOGEX 0, 0, 287, 303
STYLE DS_3DLOOK | DS_CENTER | DS_MODALFRAME | DS_SHELLFONT | WS_CAPTION | WS_VISIBLE | WS_POPUP | WS_SYSMENU
EXSTYLE WS_EX_OVERLAPPEDWINDOW | WS_EX_TOOLWINDOW
CAPTION "Preferences"
FONT 8, "Ms Shell Dlg", 400, 0, 1
{
    CTEXT           "Maximum number of acceptable failed e-mails sent, before stopping the service", 0, 153, 185, 101, 30, SS_CENTER, WS_EX_LEFT
    AUTOCHECKBOX    "Reload USB devices automatically", IDC_CHECKUSBREFRESH, 37, 144, 82, 20, BS_CENTER | BS_MULTILINE, WS_EX_LEFT
    GROUPBOX        "USB settings", IDC_STATIC, 24, 128, 108, 43, 0, WS_EX_LEFT
    GROUPBOX        "Misc", IDC_STATIC, 144, 128, 119, 135, 0, WS_EX_LEFT
    AUTOCHECKBOX    "Enable checking for valid e-mail addresses", IDC_CHECKVALIDEMAIL, 156, 143, 96, 24, BS_CENTER | BS_MULTILINE, WS_EX_LEFT
    LTEXT           "Port:", IDC_STATIC, 173, 78, 16, 9, SS_LEFT, WS_EX_LEFT
    GROUPBOX        "SMTP server settings", IDC_STATIC, 23, 15, 240, 101, 0, WS_EX_LEFT
    LTEXT           "Server URL:", IDC_STATIC, 34, 48, 40, 9, SS_LEFT, WS_EX_LEFT
    EDITTEXT        IDC_SERVERURLFIELD, 83, 46, 168, 13, ES_AUTOHSCROLL, WS_EX_LEFT
    EDITTEXT        IDC_PORTFIELD, 200, 76, 50, 13, ES_AUTOHSCROLL | ES_NUMBER, WS_EX_LEFT
    PUSHBUTTON      "Store user input to configuration file", IDC_SAVECONFBUTTON, 37, 181, 82, 64, BS_VCENTER | BS_MULTILINE, WS_EX_LEFT
    CONTROL         "", IDT_TRACKEMAILINTERVAL, TRACKBAR_CLASS, WS_TABSTOP | TBS_BOTH | TBS_NOTICKS | TBS_TOOLTIPS | TBS_ENABLESELRANGE, 156, 220, 94, 14, WS_EX_LEFT
    AUTOCHECKBOX    "System tray icon", IDC_CHECKMINTOTRAY, 156, 236, 96, 24, BS_CENTER | BS_MULTILINE, WS_EX_LEFT
    PUSHBUTTON      "Cancel", IDCANCEL, 53, 276, 50, 14, 0, WS_EX_LEFT
    PUSHBUTTON      "Apply", IDAPPLY, 122, 276, 41, 14, 0, WS_EX_LEFT
    DEFPUSHBUTTON   "OK", IDOK, 183, 276, 50, 14, 0, WS_EX_LEFT
}

LANGUAGE LANG_NEUTRAL, SUBLANG_NEUTRAL
IDD_PWDDIALOG DIALOGEX 0, 0, 186, 84
STYLE DS_3DLOOK | DS_CENTER | DS_MODALFRAME | DS_SHELLFONT | WS_CAPTION | WS_VISIBLE | WS_SYSMENU | WS_POPUP
EXSTYLE WS_EX_OVERLAPPEDWINDOW | WS_EX_TOOLWINDOW
CAPTION "Enter your e-mail password"
FONT 8, "Ms Shell Dlg", 400, 0, 1
{
    EDITTEXT        IDC_PWDFIELD, 28, 22, 130, 12, NOT WS_BORDER | ES_AUTOHSCROLL | ES_PASSWORD, WS_EX_LEFT
    PUSHBUTTON      "Cancel", IDCANCEL, 98, 57, 80, 20, 0, WS_EX_LEFT
    DEFPUSHBUTTON   "OK", IDOK, 8, 57, 81, 21, 0, WS_EX_LEFT
}

LANGUAGE LANG_NEUTRAL, SUBLANG_NEUTRAL
IDD_EMAILDIALOG DIALOGEX 0, 0, 225, 310
STYLE DS_3DLOOK | DS_CENTER | DS_SETFOREGROUND | DS_SHELLFONT | WS_CAPTION | WS_VISIBLE | WS_POPUP | WS_SYSMENU
EXSTYLE WS_EX_CLIENTEDGE | WS_EX_OVERLAPPEDWINDOW
CAPTION "E-mail configuration"
FONT 8, "Ms Shell Dlg", 400, 0, 1
{
    EDITTEXT        IDC_FROMFIELD, 61, 9, 155, 13, ES_AUTOHSCROLL, WS_EX_LEFT
    EDITTEXT        IDC_TOFIELD, 61, 43, 155, 13, ES_AUTOHSCROLL, WS_EX_LEFT
    EDITTEXT        IDC_CCFIELD, 61, 74, 155, 13, ES_AUTOHSCROLL, WS_EX_LEFT
    EDITTEXT        IDC_SUBJECTFIELD, 61, 104, 155, 13, ES_AUTOHSCROLL, WS_EX_LEFT
    EDITTEXT        IDC_MESSAGEFIELD, 25, 164, 176, 105, WS_VSCROLL | ES_AUTOHSCROLL | ES_AUTOVSCROLL | ES_MULTILINE | ES_WANTRETURN, WS_EX_DLGMODALFRAME
    PUSHBUTTON      "Cancel", IDCANCEL, 33, 287, 50, 14, 0, WS_EX_LEFT
    DEFPUSHBUTTON   "OK", IDOK, 142, 287, 50, 14, 0, WS_EX_LEFT
    CTEXT           "FROM:", IDC_STATIC, 5, 9, 52, 12, SS_CENTER | SS_CENTERIMAGE, WS_EX_LEFT
    CTEXT           "TO:", IDC_STATIC, 27, 44, 13, 9, SS_CENTER | SS_CENTERIMAGE, WS_EX_LEFT
    CTEXT           "CC:", IDC_STATIC, 26, 75, 12, 9, SS_CENTER | SS_CENTERIMAGE, WS_EX_LEFT
    CTEXT           "SUBJECT:", IDC_STATIC, 12, 105, 35, 9, SS_CENTER | SS_CENTERIMAGE, WS_EX_LEFT
    CTEXT           "MESSAGE:", IDC_STATIC, 93, 143, 38, 9, SS_CENTER | SS_CENTERIMAGE, WS_EX_LEFT
}

LANGUAGE LANG_NEUTRAL, SUBLANG_NEUTRAL
IDD_USBDIALOG DIALOGEX 0, 0, 280, 351
STYLE DS_3DLOOK | DS_CENTER | DS_SETFOREGROUND | DS_SHELLFONT | WS_CAPTION | WS_VISIBLE | WS_POPUP | WS_SYSMENU
EXSTYLE WS_EX_WINDOWEDGE | WS_EX_OVERLAPPEDWINDOW
CAPTION "USB devices"
FONT 8, "Ms Shell Dlg", 400, 0, 1
{
    CONTROL         "", IDC_USBDEVLIST, WC_LISTVIEW, WS_TABSTOP | WS_BORDER | LVS_SHOWSELALWAYS | LVS_SINGLESEL | LVS_REPORT, 18, 27, 244, 282, WS_EX_LEFT
    PUSHBUTTON      "Cancel", IDCANCEL, 20, 326, 73, 14, 0, WS_EX_LEFT
    DEFPUSHBUTTON   "OK", IDOK, 179, 326, 73, 14, 0, WS_EX_LEFT
    PUSHBUTTON      "", IDUSBREFRESH, 127, 327, 19, 16, BS_BITMAP, WS_EX_LEFT
    GROUPBOX        "Choose your USB device", IDC_STATIC, 10, 11, 260, 305, BS_CENTER, WS_EX_LEFT
}
