/******************************************
*             en_resources.rc              *
*        George Koskeridis (C)2015         *
 ******************************************/

#pragma code_page(65001) //unicode codepage


#include "../U2MWin32.h"
#include "resource.h"
#include <richedit.h>


//
// String messages
//
STRINGTABLE
{
    ID_ERR_MSG_0,   "Error!"
    ID_ERR_MSG_1,   "Service is running!"
    ID_ERR_MSG_2,   "Message queue error"
    ID_ERR_MSG_3,   "Window creation failed!"
    ID_ERR_MSG_4,   "Main Window class registration Failed!"
    ID_ERR_MSG_5,   "Quiting..."
    ID_ERR_MSG_6,   "Are you sure you want to quit?"
    ID_ERR_MSG_7,   "Can't close the window."
    ID_ERR_MSG_8,   "Can't change e-mail while the service is running."
    ID_ERR_MSG_9,   "Start"
    ID_ERR_MSG_10,  "Stop"
    ID_ERR_MSG_11,  "Can't change USB device while the service is running."
    ID_ERR_MSG_12,  "Can't change password while the service is running."
    ID_ERR_MSG_13,  "Can't change preferences while the service is running."
    ID_ERR_MSG_14,  "Trackbar label failed!"
    ID_ERR_MSG_15,  "Set waiting interval between each scan of all USB devices in milliseconds"
    ID_ERR_MSG_16,  "Trackbar failed!"
    ID_ERR_MSG_17,  "Start/Stop button failed!"
    ID_ERR_MSG_18,  "E-mail button failed!"
    ID_ERR_MSG_19,  "Configure E-Mail to send"
    ID_ERR_MSG_20,  "USB list button failed!"
    ID_ERR_MSG_21,  "Choose USB device"
    ID_ERR_MSG_22,  "Body of the e-mail"
    ID_ERR_MSG_23,  "Subject of the e-mail"
    ID_ERR_MSG_24,  "Group of addresses to send to. Multiple e-mails are seperated with ';'"
    ID_ERR_MSG_25,  "E-mail address of recipient"
    ID_ERR_MSG_26,  "E-mail address of sender"
    ID_ERR_MSG_27,  "No USB device selected!"
    ID_ERR_MSG_28,  "Device"
    ID_ERR_MSG_29,  "Vendor"
    ID_ERR_MSG_30,  ""
    ID_ERR_MSG_31,  ""
    ID_ERR_MSG_32,  "Unidentified vendor"
    ID_ERR_MSG_33,  "Unidentified device"
    ID_ERR_MSG_34,  "No password entered"
    ID_ERR_MSG_35,  "No e-mail body"
    ID_ERR_MSG_36,  "Are you sure you want to send a blank message?"
    ID_ERR_MSG_37,  "No Subject"
    ID_ERR_MSG_38,  "Are you sure you don't want to have a Subject in your e-mail?"
    ID_ERR_MSG_39,  "Invalid e-mail address on CC field!"
    ID_ERR_MSG_40,  "Invalid e-mail address on TO field!"
    ID_ERR_MSG_41,  "TO field is empty!"
    ID_ERR_MSG_42,  "Invalid e-mail address on FROM field!"
    ID_ERR_MSG_43,  "FROM field is empty!"
    ID_ERR_MSG_44,  "Invalid SMTP network port number!"
    ID_ERR_MSG_45,  "SMTP network port field is empty!"
    ID_ERR_MSG_46,  "SMTP server field is empty!"
    ID_ERR_MSG_47,  "Help dialog failed to open!"
    ID_ERR_MSG_48,  "Email dialog failed to open!"
    ID_ERR_MSG_49,  "About dialog failed to open!"
    ID_ERR_MSG_50,  "USB dialog failed to open!"
    ID_ERR_MSG_51,  "Password dialog failed to open!"
    ID_ERR_MSG_52,  "Preferences dialog failed to open!"
    ID_ERR_MSG_53,  "You have to set an e-mail to send, first."
    ID_ERR_MSG_54,  "Can't start service!"
    ID_ERR_MSG_55,  "SMTP server domain not set."
    ID_ERR_MSG_56,  "No USB device selected."
    ID_ERR_MSG_57,  "No password set."
}


//
// Menu resources
//
LANGUAGE LANG_NEUTRAL, SUBLANG_NEUTRAL
IDR_MAINMENU MENUEX
{
    POPUP "Menu", 0, 0, 0
    {
        MENUITEM "E-mail Passw&ord", IDM_PASSWORD, 0, 0
        MENUITEM "&Preferences", IDM_PREF, 0, 0
        POPUP "L&anguages", 0, 0, 0
        {
            MENUITEM "English", IDM_EN_LANG, 0, 0
            MENUITEM "Ελληνικά", IDM_GR_LANG, 0, 0
        }
        MENUITEM "", 0, MFT_SEPARATOR, 0
        MENUITEM "E&xit", IDM_EXIT, 0, 0
    }
    POPUP "&Help", 0, 0, 0
    {
        MENUITEM "H&elp", IDM_H_ELP1, 0, 0
        MENUITEM "&About", IDM_ABOUT, 0, 0
    }
}



//
// Dialog resources
//
LANGUAGE LANG_NEUTRAL, SUBLANG_NEUTRAL
IDD_ABOUTDIALOG DIALOGEX 0, 0, 237, 93
STYLE DS_3DLOOK | DS_CENTER | DS_SETFOREGROUND | DS_SHELLFONT | WS_BORDER | WS_VISIBLE | WS_POPUP | WS_SYSMENU
EXSTYLE WS_EX_WINDOWEDGE
FONT 8, "Ms Shell Dlg", 400, 0, 1
{
    LTEXT           "2016 (c) George Koskeridis", IDC_STATIC, 32, 40, 125, 9, SS_LEFT, WS_EX_LEFT
    LTEXT           "", IDC_ABOUT_BUILD, 36, 31, 85, 9, SS_LEFT | SS_CENTERIMAGE, WS_EX_LEFT
    LTEXT           "", IDC_ABOUT_COMPILER, 20, 70, 115, 9, SS_LEFT | SS_CENTERIMAGE, WS_EX_LEFT
    GROUPBOX        "About...", IDC_STATIC, 12, 10, 127, 75, 0, WS_EX_LEFT
    DEFPUSHBUTTON   "", IDUSB2MAIL, 149, 6, 80, 81, BS_ICON, WS_EX_LEFT
}

LANGUAGE LANG_NEUTRAL, SUBLANG_NEUTRAL
IDD_HELPDIALOG DIALOG 0, 0, 248, 250
STYLE DS_3DLOOK | DS_CENTER | DS_SHELLFONT | WS_CAPTION | WS_VISIBLE | WS_GROUP | WS_POPUP | WS_SYSMENU
EXSTYLE WS_EX_OVERLAPPEDWINDOW | WS_EX_APPWINDOW
CAPTION "Using USB2Email"
FONT 10, "Ms Shell Dlg"
{
    LTEXT           "",
                    0, 18, 10, 215, 140, SS_CENTER, WS_EX_LEFT
    PUSHBUTTON      "OK", IDOK, 15, 190, 217, 44, 0, WS_EX_DLGMODALFRAME
}

LANGUAGE LANG_NEUTRAL, SUBLANG_NEUTRAL
IDD_PREFDIALOG DIALOGEX 0, 0, 287, 303
STYLE DS_3DLOOK | DS_CENTER | DS_MODALFRAME | DS_SHELLFONT | WS_CAPTION | WS_VISIBLE | WS_POPUP | WS_SYSMENU
EXSTYLE WS_EX_OVERLAPPEDWINDOW | WS_EX_TOOLWINDOW
CAPTION "Preferences"
FONT 8, "Ms Shell Dlg", 400, 0, 1
{
    CTEXT           "Maximum number of acceptable failed e-mails sent, before stopping the service", 0, 153, 185, 101, 30, SS_CENTER, WS_EX_LEFT
    AUTOCHECKBOX    "Reload USB devices automatically", IDC_CHECKUSBREFRESH, 37, 144, 82, 20, BS_CENTER | BS_MULTILINE, WS_EX_LEFT
    GROUPBOX        "USB settings", IDC_STATIC, 24, 128, 108, 43, 0, WS_EX_LEFT
    GROUPBOX        "Misc", IDC_STATIC, 144, 128, 119, 118, 0, WS_EX_LEFT
    AUTOCHECKBOX    "Enable checking for valid e-mail addresses", IDC_CHECKVALIDEMAIL, 156, 143, 96, 24, BS_CENTER | BS_MULTILINE, WS_EX_LEFT
    LTEXT           "Port:", IDC_STATIC, 173, 78, 16, 9, SS_LEFT, WS_EX_LEFT
    GROUPBOX        "SMTP server settings", IDC_STATIC, 23, 15, 240, 101, 0, WS_EX_LEFT
    LTEXT           "Server URL:", IDC_STATIC, 34, 48, 40, 9, SS_LEFT, WS_EX_LEFT
    EDITTEXT        IDC_SERVERURLFIELD, 83, 46, 168, 13, ES_AUTOHSCROLL, WS_EX_LEFT
    EDITTEXT        IDC_PORTFIELD, 200, 76, 50, 13, ES_AUTOHSCROLL | ES_NUMBER, WS_EX_LEFT
    PUSHBUTTON      "Store user input to configuration file", IDC_SAVECONFBUTTON, 37, 181, 82, 64, BS_VCENTER | BS_MULTILINE, WS_EX_LEFT
    CONTROL         "", IDT_TRACKEMAILINTERVAL, TRACKBAR_CLASS, WS_TABSTOP | TBS_BOTH | TBS_NOTICKS | TBS_TOOLTIPS | TBS_ENABLESELRANGE, 156, 220, 94, 14, WS_EX_LEFT
    PUSHBUTTON      "Cancel", IDCANCEL, 53, 267, 50, 14, 0, WS_EX_LEFT
    PUSHBUTTON      "Apply", IDAPPLY, 122, 267, 41, 14, 0, WS_EX_LEFT
    DEFPUSHBUTTON   "OK", IDOK, 183, 267, 50, 14, 0, WS_EX_LEFT
}

LANGUAGE LANG_NEUTRAL, SUBLANG_NEUTRAL
IDD_PWDDIALOG DIALOGEX 0, 0, 186, 84
STYLE DS_3DLOOK | DS_CENTER | DS_MODALFRAME | DS_SHELLFONT | WS_CAPTION | WS_VISIBLE | WS_SYSMENU
EXSTYLE WS_EX_OVERLAPPEDWINDOW | WS_EX_TOOLWINDOW
CAPTION "Enter your e-mail password"
FONT 8, "Ms Shell Dlg", 400, 0, 1
{
    EDITTEXT        IDC_PWDFIELD, 28, 22, 130, 12, NOT WS_BORDER | ES_AUTOHSCROLL | ES_PASSWORD, WS_EX_LEFT
    PUSHBUTTON      "Cancel", IDCANCEL, 98, 57, 80, 20, 0, WS_EX_LEFT
    DEFPUSHBUTTON   "OK", IDOK, 8, 57, 81, 21, 0, WS_EX_LEFT
}

LANGUAGE LANG_NEUTRAL, SUBLANG_NEUTRAL
IDD_EMAILDIALOG DIALOGEX 0, 0, 225, 310
STYLE DS_3DLOOK | DS_CENTER | DS_SETFOREGROUND | DS_SHELLFONT | WS_CAPTION | WS_VISIBLE | WS_POPUP | WS_SYSMENU
EXSTYLE WS_EX_CLIENTEDGE | WS_EX_TOPMOST
CAPTION "E-mail configuration"
FONT 8, "Ms Shell Dlg", 400, 0, 1
{
    EDITTEXT        IDC_FROMFIELD, 61, 9, 155, 13, ES_AUTOHSCROLL, WS_EX_LEFT
    EDITTEXT        IDC_TOFIELD, 61, 43, 155, 13, ES_AUTOHSCROLL, WS_EX_LEFT
    EDITTEXT        IDC_CCFIELD, 61, 74, 155, 13, ES_AUTOHSCROLL, WS_EX_LEFT
    EDITTEXT        IDC_SUBJECTFIELD, 61, 104, 155, 13, ES_AUTOHSCROLL, WS_EX_LEFT
    EDITTEXT        IDC_MESSAGEFIELD, 25, 164, 176, 105, WS_VSCROLL | ES_AUTOHSCROLL | ES_AUTOVSCROLL | ES_MULTILINE | ES_WANTRETURN, WS_EX_DLGMODALFRAME
    PUSHBUTTON      "Cancel", IDCANCEL, 33, 287, 50, 14, 0, WS_EX_LEFT
    DEFPUSHBUTTON   "OK", IDOK, 142, 287, 50, 14, 0, WS_EX_LEFT
    CTEXT           "FROM:", IDC_STATIC, 5, 9, 52, 12, SS_CENTER | SS_CENTERIMAGE, WS_EX_LEFT
    CTEXT           "TO:", IDC_STATIC, 27, 44, 13, 9, SS_CENTER | SS_CENTERIMAGE, WS_EX_LEFT
    CTEXT           "CC:", IDC_STATIC, 26, 75, 12, 9, SS_CENTER | SS_CENTERIMAGE, WS_EX_LEFT
    CTEXT           "SUBJECT:", IDC_STATIC, 12, 105, 35, 9, SS_CENTER | SS_CENTERIMAGE, WS_EX_LEFT
    CTEXT           "MESSAGE:", IDC_STATIC, 93, 143, 38, 9, SS_CENTER | SS_CENTERIMAGE, WS_EX_LEFT
}

LANGUAGE LANG_NEUTRAL, SUBLANG_NEUTRAL
IDD_USBDIALOG DIALOGEX 0, 0, 280, 351
STYLE DS_3DLOOK | DS_CENTER | DS_SETFOREGROUND | DS_SHELLFONT | WS_CAPTION | WS_VISIBLE | WS_POPUP | WS_SYSMENU
EXSTYLE WS_EX_WINDOWEDGE | WS_EX_TOPMOST
CAPTION "USB devices"
FONT 8, "Ms Shell Dlg", 400, 0, 1
{
    CONTROL         "", IDC_USBDEVLIST, WC_LISTVIEW, WS_TABSTOP | WS_BORDER | LVS_SHOWSELALWAYS | LVS_SINGLESEL | LVS_REPORT, 18, 27, 244, 282, WS_EX_LEFT
    PUSHBUTTON      "Cancel", IDCANCEL, 20, 326, 73, 14, 0, WS_EX_LEFT
    DEFPUSHBUTTON   "OK", IDOK, 179, 326, 73, 14, 0, WS_EX_LEFT
    PUSHBUTTON      "", IDUSBREFRESH, 127, 327, 19, 16, BS_BITMAP, WS_EX_LEFT
    GROUPBOX        "Choose your USB device", IDC_STATIC, 10, 11, 260, 305, BS_CENTER, WS_EX_LEFT
}
