/******************************************
*             gr_resources.rc              *
*        George Koskeridis (C)2015         *
 ******************************************/

#pragma code_page(65001) //unicode codepage


#include "../U2MWin32.h"
#include "resource.h"
#include <richedit.h>

#define PROD_VER_C ver_commas(U2MWin32_MAJOR,U2MWin32_MINOR,U2MWin32_PATCH),0
#define PROD_VER_STR_D str(ver_dots(U2MWin32_MAJOR,U2MWin32_MINOR,U2MWin32_PATCH))


//
// U2MLocale_Gr.dll versioning
//
1       VERSIONINFO
FILEVERSION     1,0,0,0
PRODUCTVERSION  PROD_VER_C
FILEFLAGSMASK   0X3FL
FILEFLAGS       0L
FILEOS          VOS_NT_WINDOWS32
FILETYPE        VFT_DLL
FILESUBTYPE     0
BEGIN
    BLOCK "StringFileInfo"
    BEGIN
        BLOCK "000004B0"
        BEGIN
            VALUE "FileDescription", "USB2Email Greek language pack"
            VALUE "FileVersion", "1.0.0.0"
            VALUE "InternalName", "U2MLocale_Gr.dll"
            VALUE "ProductVersion", PROD_VER_STR_D
            VALUE "OriginalFilename", "U2MLocale_Gr.dll"
            VALUE "CompanyName", " "
            VALUE "LegalCopyright", "Copyright (c) 2016 George Koskeridis, The MIT License"
            VALUE "ProductName", "U2MLocale_Gr"
        END
    END
    BLOCK "VarFileInfo"
    BEGIN
        VALUE "Translation", 0x0000, 0x04B0
    END
END

//
// String messages
//
STRINGTABLE
{
    ID_ERR_MSG_0,   "Σφάλμα!"
    ID_ERR_MSG_1,   "Η υπηρεσία τρέχει!"
    ID_ERR_MSG_2,   "Αποτυχία ουράς μηνυμάτων!"
    ID_ERR_MSG_3,   "Αποτυχία δημιουργίας παραθύρου!"
    ID_ERR_MSG_4,   "Αποτυχία εγγραφής της κλάσης του κυρίως παραθύρου!"
    ID_ERR_MSG_5,   "Έξοδος απο USB2Email..."
    ID_ERR_MSG_6,   "Θέλεις να κλείσεις την εφαρμογή;"
    ID_ERR_MSG_7,   "Αδύνατο κλείσιμο παραθύρου"
    ID_ERR_MSG_8,   "Αδύνατη αλλαγή e-mail όσο τρέχει η υπηρεσία."
    ID_ERR_MSG_9,   "Έναρξη"
    ID_ERR_MSG_10,  "Σταματημός"
    ID_ERR_MSG_11,  "Αδύνατη αλλαγή συσκευής USB όσο τρέχει η υπηρεσία."
    ID_ERR_MSG_12,  "Αδύνατη αλλαγή κωδικού όσο τρέχει η υπηρεσία."
    ID_ERR_MSG_13,  "Αδύνατη αλλαγή ρυθμίσεων όσο τρέχει η υπηρεσία."
    ID_ERR_MSG_14,  "Αποτυχία τίτλου του trackbar"
    ID_ERR_MSG_15,  "Διάστημα παύσης μεταξύ κάθε σάρωσης των συσκευών USB"
    ID_ERR_MSG_16,  "Απέτυχε το trackbar!"
    ID_ERR_MSG_17,  "Απέτυχε το κουμπί Έναρξη/Σταματημός!"
    ID_ERR_MSG_18,  "Απέτυχε το κουμπί E-mail!"
    ID_ERR_MSG_19,  "Ρύθμισε το E-mail προς αποστολή"
    ID_ERR_MSG_20,  "Απέτυχε το κουμπί USB list!"
    ID_ERR_MSG_21,  "Επέλεξε συσκευή USB"
    ID_ERR_MSG_22,  "Κορμός του e-mail"
    ID_ERR_MSG_23,  "Θέμα του e-mail"
    ID_ERR_MSG_24,  "Ομάδα πολλαπλών παραληπτών. Οι διαφορετικές διευθύνσεις διαχωρίζονται με το ';'"
    ID_ERR_MSG_25,  "Διεύθυνση e-mail του παραλήπτη"
    ID_ERR_MSG_26,  "Διεύθυνση e-mail του αποστολέα"
    ID_ERR_MSG_27,  "Δεν επιλέχτηκε καμία συσκευή USB!"
    ID_ERR_MSG_28,  "Συσκευή"
    ID_ERR_MSG_29,  "Προμηθευτής"
    ID_ERR_MSG_30,  "Το εικονίδιο ειδοποιήσεων USB2Email δεν δημιουργήθηκε!"
    ID_ERR_MSG_31,  "Κάτι συνέβη!"
    ID_ERR_MSG_32,  "Άγνωστος προμηθευτής"
    ID_ERR_MSG_33,  "Άγνωστη συσκευή"
    ID_ERR_MSG_34,  "Δεν πληκτρολογήθηκε κωδικός"
    ID_ERR_MSG_35,  "Κενός κορμός e-mail"
    ID_ERR_MSG_36,  "Σίγουρα θέλεις να στείλεις κενό μηνυμά?"
    ID_ERR_MSG_37,  "Κενό θέμα e-mail"
    ID_ERR_MSG_38,  "Σίγουρα δεν θέλεις θέμα στο e-mail?"
    ID_ERR_MSG_39,  "Άκυρη διεύθυνση e-mail στο πεδίο CC!"
    ID_ERR_MSG_40,  "Άκυρη διεύθυνση e-mail στο πεδίο ΠΡΟΣ!"
    ID_ERR_MSG_41,  "Το πεδίο ΠΡΟΣ είναι κενό!"
    ID_ERR_MSG_42,  "Άκυρη διεύθυνση e-mail στο πεδίο ΑΠΟ!"
    ID_ERR_MSG_43,  "Το πεδίο ΑΠΟ είναι κενό!"
    ID_ERR_MSG_44,  "Άκυρος αριθμός θύρας SMTP!"
    ID_ERR_MSG_45,  "Το πεδίο θύρας SMTP είναι κενό!"
    ID_ERR_MSG_46,  "Το πεδίο διακομιστή SMTP είναι κενό!"
    ID_ERR_MSG_47,  "Το παράθυρο Βοήθεια απέτυχε να ανοίξει!"
    ID_ERR_MSG_48,  "Το παράθυρο E-mail απέτυχε να ανοίξει!"
    ID_ERR_MSG_49,  "Το παράθυρο Σχετικά με απέτυχε να ανοίξει!"
    ID_ERR_MSG_50,  "Το παράθυρο USB απέτυχε να ανοίξει!"
    ID_ERR_MSG_51,  "Το παράθυρο Κωδικός e-mail απέτυχε να ανοίξει!"
    ID_ERR_MSG_52,  "Το παράθυρο Ρυθμίσεις απέτυχε να ανοίξει!"
    ID_ERR_MSG_53,  "Πρέπει να ρυθμίσεις ένα e-mail προς αποστολή, πρώτα."
    ID_ERR_MSG_54,  "Αδύνατη έναρξη υπηρεσίας!"
    ID_ERR_MSG_55,  "Δεν δόθηκε διακομιστής SMTP."
    ID_ERR_MSG_56,  "Δεν επιλέχτηκε συσκευή USB."
    ID_ERR_MSG_57,  "Δεν δόθηκε ο κωδικός του e-mail."
    ID_ERR_MSG_58,  "Το USB2Email είναι σταματημένο"
    ID_ERR_MSG_59,  "Το USB2Email είναι ενεργό"
    ID_ERR_MSG_60,  "Έξοδος"
    ID_ERR_MSG_61,  "Άνοιγμα USB2Email"
    ID_ERR_MSG_62,  "Η Αυτόματη εκκίνηση απαιτεί επανεκκίνηση της εφαρμογής για να δουλέψει."
    ID_ERR_MSG_63,  "Προσοχή!"
}

STRINGTABLE
{
    ID_HELP_MSG,  "[Επέλεξε συσκευή USB]: Λίστα με τις συσκευές USB που είναι συνδεδεμένες στον υπολογιστή. \
Επέλεξε την συσκευή σου είτε πατώντας διπλο κλικ πάνω της, είτε επιλέγοντάς την και πατώντας το κουμπί 'ΟΚ'. \
Πατώντας το κουμπί 'Ανανέωση', ανανεώνονται οι συσκευές USB που είναι συνδεδεμένες στον υπολογιστή.\
Όταν το USB2Email κλείνει, η επιλεγμένη συσκευή USB σου, αποθηκεύεται για να μην χρειάζεται να επιλέγεις την ίδια συσκευή κάθε φορά που ανοίγεις την εφαρμογή. \
\r\n----------------------------------------------------------------------------------\r\n\
[Ρύθμισε το E-mail προς αποστολή]: Οι λεπτομέρειες του e-mail που θέλεις να στείλεις.\
\r\n----------------------------------------------------------------------------------\r\n\
[Διάστημα παύσης μεταξύ κάθε σάρωσης των συσκευών USB]: Όσο τρέχει η υπηρεσία, κάνει μία παύση για κλάσματα δευτερολέπτου \
κάθε φορά που σκανάρει τις συσκευές USB που είναι συνδεδεμένες στον υπολογιστή. Μπορείς να ρυθμίσεις το διάστημα της παύσης αυτής \
σε milliseconds. Το διάστημα παίρνει τιμές από 200 έως 2000 milliseconds (0.2 έως 2 δευτερόλεπτα).\
\r\n----------------------------------------------------------------------------------\r\n\
[Έναρξη/Σταματημός]: Ξεκινάει/Σταματάει την υπηρεσία. Πριν η υπηρεσία αρχίσει να τρέχει, το πρόγραμμα \
κάνει έλεγχο για το αν έχουν δοθεί συγκεκριμένες πληροφορίες, αλλιώς αποτυγχάνει να τρέξει. Υποχρεωτικά πεδία για να μπορεί να τρέξει \
είναι ο Διακομιστής SMTP, τα πεδία ΑΠΟ, ΠΡΟΣ και Κωδικός e-mail. Η υπηρεσία επίσης αποτυγχάνει να ξεκινήσει εάν \
δεν έχει επιλεχτεί συσκευή USB. \r\n Όσο τρέχει η υπηρεσία, το κείμενο του κουμπιού γράφει 'Σταματημός' \
και απενεργοποιούνται τα υπόλοιπα κουμπιά, καθώς και επιλογές απο το μενού.  \
Η υπηρεσία μπορεί να σταματήσει οποιαδήποτε στιγμή, εφόσον δεν στέλνει e-mail. Για το σύντομο διάστημα που \
στέλνεται το e-mail, το κουμπί απενεργοποιείται.\
\r\n----------------------------------------------------------------------------------\r\n\
[Μενού -> Κωδικός e-mail]: Ο κωδικός της διευθύνσης e-mail απο το πεδίο 'ΑΠΟ'.\
\r\n----------------------------------------------------------------------------------\r\n\
[Μενού -> Αυτόματη εκκίνηση]: Όταν αυτή η επιλογή είναι ενεργοποιημένη, η εφαρμογή τρέχει κάθε φορά που ανοίγουν \
τα Windows, αυτόματα στο background. Απαιτείται επανεκκίνηση της εφαρμογής τουλάχιστον μία φορά για να αποθηκευτεί αυτή η επιλογή.\
\r\n----------------------------------------------------------------------------------\r\n\
[Μενού -> Ρυθμίσεις] \r\n \r\n\
[URL διακομιστή]: Η διεύθυνση του διακομιστή (π.χ. smtp-mail.outlook.com, smtp.gmail.com).\
\r\n----------------------------------------------------------------------------------\r\n\
[Θύρα]: Το νούμερο της θύρας (π.χ. 465, 587).\
\r\n----------------------------------------------------------------------------------\r\n\
[Αυτόματη σάρωση συσκευών στο παράθυρο USB]: Ανανεώνει τις συσκευές USB αυτόματα, στο παράθυρο 'Επέλεξε συσκευή USB'.\
\r\n----------------------------------------------------------------------------------\r\n\
[Έλεγχος για σωστές διευθύνσεις e-mail στην είσοδό τους]: Δοκιμαστική επιλογή. Δεν δουλεύει σωστά. \
\r\n----------------------------------------------------------------------------------\r\n\
[Αριθμός αποτυχημένων e-mail που γίνονται αποδεκτά πριν σταματήσει η υπηρεσία]: Αν ένα e-mail αποτύχει να σταλεί, μία φορά, η υπηρεσία \
σταματάει να τρέχει. Εδώ μπορείς να ρυθμίσεις τον αριθμό των αποτυχημένων e-mail που γίνονται αποδεκτά πριν σταματήσει η υπηρεσία.\
\r\n----------------------------------------------------------------------------------\r\n\
[Εικονίδιο στην περιοχή ειδοποιήσεων]: Ενεργοποιεί ένα εικονίδιο στην περιοχή ειδοποιήσεων επιτρέποντας το USB2Email να μπορεί να ελαχιστοποιηθεί \
στην περιοχή ειδοποιήσεων. \
\r\n----------------------------------------------------------------------------------\r\n\
[Αποθήκευσε τα δεδομένα εισόδου σε εφεδρικό αρχείο]: Αποθηκεύει τα δεδομένα εισόδου που έχουν δοθεί μέχρι να πατηθέι το κουμπί, σε \
εφεδρικό αρχείο. Το USB2Email διαβάζει αυτό το αρχείο \
κάθε φορά που ανοίγει. Επίσης ο κωδικός αποθηκεύεται σε αυτό το αρχείο. Μην δώσεις τον κωδικό σου πριν πατήσεις το κουμπί αυτο, αν \
δεν θέλεις να αποθηκευτεί στο αρχείο."
}

//
// Initial Menu resource
//
LANGUAGE LANG_GREEK, SUBLANG_GREEK_GREECE
IDR_MAINMENU MENU
{
    POPUP "Μενού"
    {
        MENUITEM "Κωδικός e-mail", IDM_PASSWORD
        MENUITEM "&Ρυθμίσεις", IDM_PREF
        MENUITEM "Α&υτόματη εκκίνηση", IDM_AUTOSTART
        POPUP "Γ&λώσσες"
        {
            MENUITEM "English", IDM_EN_LANG
            MENUITEM "Ελληνικά", IDM_GR_LANG
        }
        MENUITEM SEPARATOR
        MENUITEM "Έ&ξοδος", IDM_EXIT
    }
    POPUP "&Πληροφορίες"
    {
        MENUITEM "Β&οήθεια", IDM_H_ELP1, HELP
        MENUITEM "&Σχετικά με", IDM_ABOUT
    }
}



//
// Dialog resources
//
LANGUAGE LANG_GREEK, SUBLANG_GREEK_GREECE
IDD_ABOUTDIALOG DIALOGEX 0, 0, 237, 93
STYLE DS_3DLOOK | DS_CENTER | DS_SETFOREGROUND | DS_SHELLFONT | WS_BORDER | WS_VISIBLE | WS_POPUP | WS_SYSMENU
EXSTYLE WS_EX_WINDOWEDGE
FONT 8, "Ms Shell Dlg", 400, 0, 1
{
    LTEXT           "", IDC_ABOUT_BUILD, 36, 25, 85, 9, SS_LEFT | SS_CENTERIMAGE, WS_EX_LEFT
    LTEXT           "2016 (c) Γιώργος Κοσκερίδης", IDC_STATIC, 28, 34, 125, 9, SS_LEFT, WS_EX_LEFT
    PUSHBUTTON      "Βιβλιοθήκες", IDUSB2MAILLIBS, 43, 46, 57, 20, 0
    LTEXT           "", IDC_ABOUT_COMPILER, 20, 70, 115, 9, SS_LEFT | SS_CENTERIMAGE, WS_EX_LEFT
    GROUPBOX        "Σχετικά με...", IDC_STATIC, 12, 10, 127, 75, 0, WS_EX_LEFT
    DEFPUSHBUTTON   "", IDOK, 149, 6, 80, 81, BS_ICON, WS_EX_LEFT
}

LANGUAGE LANG_GREEK, SUBLANG_GREEK_GREECE
IDD_HELPDIALOG DIALOGEX 0, 0, 248, 250
STYLE DS_3DLOOK | DS_CENTER | DS_SHELLFONT | WS_CAPTION | WS_VISIBLE | WS_GROUP | WS_POPUP | WS_SYSMENU
EXSTYLE WS_EX_OVERLAPPEDWINDOW | WS_EX_APPWINDOW
CAPTION "Οδηγίες χρήσης του USB2Email"
FONT 11, "Arial", 500, 0, 1
{
    EDITTEXT        IDC_HELP_TEXT, 14, 10, 221, 175, ES_READONLY | WS_VSCROLL | ES_MULTILINE | ES_AUTOVSCROLL
    PUSHBUTTON      "OK", IDOK, 15, 190, 217, 44, 0, WS_EX_DLGMODALFRAME
}

LANGUAGE LANG_GREEK, SUBLANG_GREEK_GREECE
IDD_PREFDIALOG DIALOGEX 0, 0, 287, 303
STYLE DS_3DLOOK | DS_CENTER | DS_MODALFRAME | DS_SHELLFONT | WS_CAPTION | WS_VISIBLE | WS_POPUP | WS_SYSMENU
EXSTYLE WS_EX_OVERLAPPEDWINDOW | WS_EX_TOOLWINDOW
CAPTION "Ρυθμίσεις"
FONT 8, "Ms Shell Dlg", 400, 0, 1
{
    CTEXT           "Αριθμός αποτυχημένων e-mail που γίνονται αποδεκτά πριν σταματήσει η υπηρεσία", 0, 153, 185, 101, 30, SS_CENTER, WS_EX_LEFT
    AUTOCHECKBOX    "Αυτόματη σάρωση συσκευών στο παράθυρο USB", IDC_CHECKUSBREFRESH, 37, 138, 82, 26, BS_CENTER | BS_MULTILINE, WS_EX_LEFT
    GROUPBOX        "Ρυθμίσεις USB", IDC_STATIC, 24, 128, 108, 43, 0, WS_EX_LEFT
    GROUPBOX        "Διάφορα", IDC_STATIC, 144, 128, 119, 135, 0, WS_EX_LEFT
    AUTOCHECKBOX    "Έλεγχος για σωστές διευθύνσεις e-mail στην είσοδό τους", IDC_CHECKVALIDEMAIL, 156, 143, 96, 24, BS_CENTER | BS_MULTILINE, WS_EX_LEFT
    LTEXT           "Θύρα:", IDC_STATIC, 165, 78, 25, 9, SS_LEFT, WS_EX_LEFT
    GROUPBOX        "Ρυθμίσεις διακομιστή SMTP", IDC_STATIC, 23, 15, 240, 101, 0, WS_EX_LEFT
    LTEXT           "URL διακομιστή:", IDC_STATIC, 34, 40, 40, 20, SS_LEFT, WS_EX_LEFT
    EDITTEXT        IDC_SERVERURLFIELD, 83, 46, 168, 13, ES_AUTOHSCROLL, WS_EX_LEFT
    EDITTEXT        IDC_PORTFIELD, 200, 76, 50, 13, ES_AUTOHSCROLL | ES_NUMBER, WS_EX_LEFT
    PUSHBUTTON      "Αποθήκευσε τα δεδομένα εισόδου σε εφεδρικό αρχείο", IDC_SAVECONFBUTTON, 37, 181, 82, 64, BS_VCENTER | BS_MULTILINE, WS_EX_LEFT
    CONTROL         "", IDT_TRACKEMAILINTERVAL, TRACKBAR_CLASS, WS_TABSTOP | TBS_BOTH | TBS_NOTICKS | TBS_TOOLTIPS | TBS_ENABLESELRANGE, 156, 220, 94, 14, WS_EX_LEFT
    AUTOCHECKBOX    "Εικονίδιο στην περιοχή ειδοποιήσεων", IDC_CHECKMINTOTRAY, 156, 236, 96, 24, BS_CENTER | BS_MULTILINE, WS_EX_LEFT
    PUSHBUTTON      "Άκυρο", IDCANCEL, 53, 276, 50, 14, 0, WS_EX_LEFT
    PUSHBUTTON      "Εφαρμογή", IDAPPLY, 122, 276, 41, 14, 0, WS_EX_LEFT
    DEFPUSHBUTTON   "ΟΚ", IDOK, 183, 276, 50, 14, 0, WS_EX_LEFT
}

LANGUAGE LANG_GREEK, SUBLANG_GREEK_GREECE
IDD_PWDDIALOG DIALOGEX 0, 0, 186, 84
STYLE DS_3DLOOK | DS_CENTER | DS_MODALFRAME | DS_SHELLFONT | WS_CAPTION | WS_VISIBLE | WS_SYSMENU | WS_POPUP
EXSTYLE WS_EX_OVERLAPPEDWINDOW | WS_EX_TOOLWINDOW
CAPTION "Πληκτρολόγησε τον κωδικό σου"
FONT 8, "Ms Shell Dlg", 400, 0, 1
{
    EDITTEXT        IDC_PWDFIELD, 28, 22, 130, 12, NOT WS_BORDER | ES_AUTOHSCROLL | ES_PASSWORD, WS_EX_LEFT
    PUSHBUTTON      "Άκυρο", IDCANCEL, 98, 57, 80, 20, 0, WS_EX_LEFT
    DEFPUSHBUTTON   "ΟΚ", IDOK, 8, 57, 81, 21, 0, WS_EX_LEFT
}

LANGUAGE LANG_GREEK, SUBLANG_GREEK_GREECE
IDD_EMAILDIALOG DIALOGEX 0, 0, 225, 310
STYLE DS_3DLOOK | DS_CENTER | DS_SETFOREGROUND | DS_SHELLFONT | WS_CAPTION | WS_VISIBLE | WS_POPUP | WS_SYSMENU
EXSTYLE WS_EX_CLIENTEDGE | WS_EX_OVERLAPPEDWINDOW
CAPTION "Ρυθμίσεις e-mail"
FONT 8, "Ms Shell Dlg", 400, 0, 1
{
    EDITTEXT        IDC_FROMFIELD, 61, 9, 155, 13, ES_AUTOHSCROLL, WS_EX_LEFT
    EDITTEXT        IDC_TOFIELD, 61, 43, 155, 13, ES_AUTOHSCROLL, WS_EX_LEFT
    EDITTEXT        IDC_CCFIELD, 61, 74, 155, 13, ES_AUTOHSCROLL, WS_EX_LEFT
    EDITTEXT        IDC_SUBJECTFIELD, 61, 104, 155, 13, ES_AUTOHSCROLL, WS_EX_LEFT
    EDITTEXT        IDC_MESSAGEFIELD, 25, 164, 176, 105, WS_VSCROLL | ES_AUTOHSCROLL | ES_AUTOVSCROLL | ES_MULTILINE | ES_WANTRETURN, WS_EX_DLGMODALFRAME
    PUSHBUTTON      "Άκυρο", IDCANCEL, 33, 287, 50, 14, 0, WS_EX_LEFT
    DEFPUSHBUTTON   "ΟΚ", IDOK, 142, 287, 50, 14, 0, WS_EX_LEFT
    CTEXT           "ΑΠΟ:", IDC_STATIC, 5, 9, 52, 12, SS_CENTER | SS_CENTERIMAGE, WS_EX_LEFT
    CTEXT           "ΠΡΟΣ:", IDC_STATIC, 17, 45, 25, 9, SS_CENTER | SS_CENTERIMAGE, WS_EX_LEFT
    CTEXT           "CC:", IDC_STATIC, 26, 75, 12, 9, SS_CENTER | SS_CENTERIMAGE, WS_EX_LEFT
    CTEXT           "ΘΕΜΑ:", IDC_STATIC, 12, 105, 35, 9, SS_CENTER | SS_CENTERIMAGE, WS_EX_LEFT
    CTEXT           "ΜΗΝΥΜΑ:", IDC_STATIC, 93, 143, 38, 9, SS_CENTER | SS_CENTERIMAGE, WS_EX_LEFT
}

LANGUAGE LANG_GREEK, SUBLANG_GREEK_GREECE
IDD_USBDIALOG DIALOGEX 0, 0, 280, 351
STYLE DS_3DLOOK | DS_CENTER | DS_SETFOREGROUND | DS_SHELLFONT | WS_CAPTION | WS_VISIBLE | WS_POPUP | WS_SYSMENU
EXSTYLE WS_EX_WINDOWEDGE | WS_EX_OVERLAPPEDWINDOW
CAPTION "Συσκευές USB"
FONT 8, "Ms Shell Dlg", 400, 0, 1
{
    CONTROL         "", IDC_USBDEVLIST, WC_LISTVIEW, WS_TABSTOP | WS_BORDER | LVS_SHOWSELALWAYS | LVS_SINGLESEL | LVS_REPORT, 18, 27, 244, 282, WS_EX_LEFT
    PUSHBUTTON      "Άκυρο", IDCANCEL, 20, 326, 73, 14, 0, WS_EX_LEFT
    DEFPUSHBUTTON   "ΟΚ", IDOK, 179, 326, 73, 14, 0, WS_EX_LEFT
    PUSHBUTTON      "", IDUSBREFRESH, 127, 327, 19, 16, BS_BITMAP, WS_EX_LEFT
    GROUPBOX        "Επέλεξε την συσκευή USB σου", IDC_STATIC, 10, 11, 260, 305, BS_CENTER, WS_EX_LEFT
}
