/******************************************
*               resources.rc               *
*        George Koskeridis (C)2015         *
 ******************************************/

#include <windows.h>
#include <commctrl.h>
#include <richedit.h>
#include "resource.h"



//
// Menu resources
//
LANGUAGE LANG_NEUTRAL, SUBLANG_NEUTRAL
IDR_MAINMENU MENUEX
{
    POPUP "M&enu", 0, 0, 0
    {
        MENUITEM "E-mail Passw&ord", IDM_PASSWORD, 0, 0
        MENUITEM "&Preferences", IDM_PREF, 0, 0
        MENUITEM "", 0, MFT_SEPARATOR, 0
        MENUITEM "E&xit", IDM_EXIT, 0, 0
    }
    POPUP "H&elp", 0, 0, 0
    {
        MENUITEM "H&elp", IDM_H_ELP1, 0, 0
        MENUITEM "&About", IDM_ABOUT, 0, 0
    }
}



//
// Dialog resources
//
LANGUAGE LANG_NEUTRAL, SUBLANG_NEUTRAL
IDD_ABOUTDIALOG DIALOGEX 0, 0, 237, 93
STYLE DS_3DLOOK | DS_CENTER | DS_SETFOREGROUND | DS_SHELLFONT | WS_BORDER | WS_VISIBLE | WS_POPUP | WS_SYSMENU
EXSTYLE WS_EX_WINDOWEDGE
FONT 8, "Ms Shell Dlg", 400, 0, 1
{
    LTEXT           "Copyright 2015 George Koskeridis ", IDC_STATIC, 20, 65, 110, 9, SS_LEFT, WS_EX_LEFT
    LTEXT           "USB2Mail Win32 front-end", IDC_STATIC, 25, 31, 85, 9, SS_LEFT | SS_CENTERIMAGE, WS_EX_LEFT
    GROUPBOX        "About...", IDC_STATIC, 12, 10, 127, 75, 0, WS_EX_LEFT
    DEFPUSHBUTTON   "", IDUSB2MAIL, 149, 6, 80, 81, BS_ICON, WS_EX_LEFT
}

LANGUAGE LANG_NEUTRAL, SUBLANG_NEUTRAL
IDD_HELPDIALOG DIALOG 0, 0, 247, 215
STYLE DS_3DLOOK | DS_CENTER | DS_SHELLFONT | WS_CAPTION | WS_VISIBLE | WS_GROUP | WS_TABSTOP | WS_POPUP | WS_THICKFRAME | WS_SYSMENU
EXSTYLE WS_EX_OVERLAPPEDWINDOW | WS_EX_APPWINDOW
CAPTION "Help"
FONT 8, "Ms Shell Dlg"
{
    LTEXT           "Help \r\n\r\n\r\n      Text\r\n\r\n\r\n             Goes\r\n\r\n\r\n                    Here", 0, 23, 18, 56, 81, SS_LEFT, WS_EX_LEFT
    PUSHBUTTON      "OK", IDOK, 15, 157, 217, 44, 0, WS_EX_DLGMODALFRAME
}

LANGUAGE LANG_NEUTRAL, SUBLANG_NEUTRAL
IDD_EMAILDIALOG DIALOGEX 0, 0, 225, 310
STYLE DS_3DLOOK | DS_CENTER | DS_SETFOREGROUND | DS_SHELLFONT | WS_CAPTION | WS_VISIBLE | WS_POPUP | WS_SYSMENU
EXSTYLE WS_EX_CLIENTEDGE | WS_EX_TOOLWINDOW | WS_EX_TOPMOST
CAPTION "E-mail specifics"
FONT 8, "Ms Shell Dlg", 400, 0, 1
{
    CTEXT           "FROM:", IDC_STATIC, 5, 9, 52, 12, SS_CENTER | SS_CENTERIMAGE, WS_EX_LEFT
    EDITTEXT        IDC_FROMFIELD, 61, 9, 155, 13, ES_AUTOHSCROLL, WS_EX_LEFT
    EDITTEXT        IDC_TOFIELD, 61, 43, 155, 13, ES_AUTOHSCROLL, WS_EX_LEFT
    EDITTEXT        IDC_CCFIELD, 61, 74, 155, 13, ES_AUTOHSCROLL, WS_EX_LEFT
    EDITTEXT        IDC_SUBJECTFIELD, 61, 104, 155, 13, ES_AUTOHSCROLL, WS_EX_LEFT
    EDITTEXT        IDC_MESSAGEFIELD, 25, 164, 176, 105, WS_VSCROLL | ES_AUTOHSCROLL | ES_AUTOVSCROLL | ES_MULTILINE | ES_WANTRETURN, WS_EX_DLGMODALFRAME
    PUSHBUTTON      "Cancel", IDCANCEL, 33, 287, 50, 14, 0, WS_EX_LEFT
    DEFPUSHBUTTON   "OK", IDOK, 142, 287, 50, 14, 0, WS_EX_LEFT
    CTEXT           "TO:", IDC_STATIC, 27, 44, 13, 9, SS_CENTER | SS_CENTERIMAGE, WS_EX_LEFT
    CTEXT           "CC:", IDC_STATIC, 26, 75, 12, 9, SS_CENTER | SS_CENTERIMAGE, WS_EX_LEFT
    CTEXT           "SUBJECT:", IDC_STATIC, 12, 105, 35, 9, SS_CENTER | SS_CENTERIMAGE, WS_EX_LEFT
    CTEXT           "MESSAGE:", IDC_STATIC, 93, 143, 38, 9, SS_CENTER | SS_CENTERIMAGE, WS_EX_LEFT
}

LANGUAGE LANG_NEUTRAL, SUBLANG_NEUTRAL
IDD_PREFDIALOG DIALOGEX 0, 0, 287, 303
STYLE DS_3DLOOK | DS_CENTER | DS_MODALFRAME | DS_SHELLFONT | WS_CAPTION | WS_VISIBLE | WS_POPUP | WS_SYSMENU
EXSTYLE WS_EX_OVERLAPPEDWINDOW | WS_EX_TOOLWINDOW
CAPTION "Preferences"
FONT 8, "Ms Shell Dlg", 400, 0, 1
{
    CTEXT           "Set resting interval after an e-mail is sent in seconds", 0, 153, 196, 101, 15, SS_CENTER, WS_EX_LEFT
    CONTROL         "", IDT_TRACKEMAILINTERVAL, TRACKBAR_CLASS, WS_TABSTOP | TBS_ENABLESELRANGE | TBS_BOTH | TBS_TOOLTIPS | TBS_NOTICKS, 156, 220, 94, 14, WS_EX_LEFT
    AUTOCHECKBOX    "Reload USB devices automatically", IDC_CHECKUSBREFRESH, 37, 144, 82, 20, BS_CENTER | BS_MULTILINE, WS_EX_LEFT
    GROUPBOX        "USB settings", IDC_STATIC, 24, 128, 108, 118, 0, WS_EX_LEFT
    GROUPBOX        "Misc", IDC_STATIC, 144, 128, 119, 118, 0, WS_EX_LEFT
    AUTOCHECKBOX    "Enable checking for valid e-mail addresses", IDC_CHECKVALIDEMAIL, 156, 143, 96, 24, BS_CENTER | BS_MULTILINE, WS_EX_LEFT
    LTEXT           "Port:", IDC_STATIC, 173, 78, 16, 9, SS_LEFT, WS_EX_LEFT
    GROUPBOX        "SMTP server settings", IDC_STATIC, 23, 15, 240, 101, 0, WS_EX_LEFT
    LTEXT           "Server URL:", IDC_STATIC, 34, 48, 40, 9, SS_LEFT, WS_EX_LEFT
    DEFPUSHBUTTON   "OK", IDOK, 183, 266, 50, 14, 0, WS_EX_LEFT
    PUSHBUTTON      "Cancel", IDCANCEL, 53, 267, 50, 14, 0, WS_EX_LEFT
    EDITTEXT        IDC_SERVERURLFIELD, 83, 46, 168, 13, ES_AUTOHSCROLL, WS_EX_LEFT
    EDITTEXT        IDC_PORTFIELD, 200, 76, 50, 13, ES_AUTOHSCROLL | ES_NUMBER, WS_EX_LEFT
}

LANGUAGE LANG_NEUTRAL, SUBLANG_NEUTRAL
IDD_PWDDIALOG DIALOGEX 0, 0, 186, 84
STYLE DS_3DLOOK | DS_CENTER | DS_MODALFRAME | DS_SHELLFONT | WS_CAPTION | WS_VISIBLE | WS_SYSMENU
EXSTYLE WS_EX_OVERLAPPEDWINDOW | WS_EX_TOOLWINDOW
CAPTION "Enter your e-mail password"
FONT 8, "Ms Shell Dlg", 400, 0, 1
{
    EDITTEXT        IDC_PWDFIELD, 28, 22, 130, 12, NOT WS_BORDER | ES_AUTOHSCROLL | ES_PASSWORD, WS_EX_LEFT
    PUSHBUTTON      "Cancel", IDCANCEL, 98, 57, 80, 20, 0, WS_EX_LEFT
    DEFPUSHBUTTON   "OK", IDOK, 8, 57, 81, 21, 0, WS_EX_LEFT
}

LANGUAGE LANG_NEUTRAL, SUBLANG_NEUTRAL
IDD_USBDIALOG DIALOGEX 0, 0, 230, 261
STYLE DS_3DLOOK | DS_CENTER | DS_SETFOREGROUND | DS_SHELLFONT | WS_CAPTION | WS_VISIBLE | WS_POPUP | WS_SYSMENU
EXSTYLE WS_EX_WINDOWEDGE | WS_EX_TOOLWINDOW | WS_EX_TOPMOST
CAPTION "USB devices"
FONT 8, "Ms Shell Dlg", 400, 0, 1
{
    PUSHBUTTON      "Cancel", IDCANCEL, 35, 241, 50, 14, 0, WS_EX_LEFT
    DEFPUSHBUTTON   "OK", IDOK, 144, 241, 50, 14, 0, WS_EX_LEFT
    LISTBOX         IDC_USBDEVLIST, 12, 23, 206, 200, WS_TABSTOP | WS_HSCROLL | WS_VSCROLL | LBS_NOINTEGRALHEIGHT | LBS_HASSTRINGS | LBS_SORT | LBS_WANTKEYBOARDINPUT | LBS_NOTIFY, WS_EX_DLGMODALFRAME
    PUSHBUTTON      "", IDUSBREFRESH, 105, 238, 19, 16, BS_BITMAP, WS_EX_LEFT
    GROUPBOX        "Choose your USB device", IDC_STATIC, 5, 11, 220, 219, BS_CENTER, WS_EX_LEFT
}



//
// Icon resources
//
LANGUAGE LANG_NEUTRAL, SUBLANG_NEUTRAL
IDI_USB2MAILICONLARGE ICON           "..\\icons\\usb128.ico"

LANGUAGE LANG_NEUTRAL, SUBLANG_NEUTRAL
IDI_USB2MAILICONMEDIUM ICON           "..\\icons\\usb64.ico"

LANGUAGE LANG_NEUTRAL, SUBLANG_NEUTRAL
IDI_USB2MAILICONSMALL ICON           "..\\icons\\usb48.ico"
